<div class="col-xs-12 basic_info">
  <article>
    <div class="head-info">
      <h6>información</h6>
      <div class="edit-info">
        <i *ngIf="isAuthUser() && !edited" (click)="editBasicInfo()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <button *ngIf="edited" (click)="saveBasicInfo()" class="save-button">Guardar</button>
      </div>
    </div>
    <div *ngIf="!edited" style="float: left; width: 100%; padding: 30px;">
      <div class="row">
        <div class="col-md-3">
            <div class="text-center"> <img [src]="user?.image_url" class="img-responsive" alt="img"> </div>
        </div>
        <div class="col-md-9">
          <div class="row info-row">
            <label class="custom-label">Nombre y Apellido</label>
              <div class="custom-detail">
                <p>{{user?.name}}</p>
              </div>              
          </div>
          <div class="row info-row">
              <label class="custom-label">Número de Teléfono</label>
              <div class="custom-detail">
                  <p>{{user?.phone_no}}</p>
              </div>              
          </div>
          <div class="row info-row">
              <label class="custom-label">Dirección</label>
              <div class="custom-detail">
                  <p *ngIf="user?.address?.street_address">{{user?.address?.street_address}}</p>
                  <p *ngIf="!(user?.address?.street_address)">Sin Asignar</p>
              </div>              
          </div>
          <div class="row info-row">
              <label class="custom-label">Ciudad</label>
              <div class="custom-detail">
                  <p *ngIf="user?.address?.city">{{user?.address?.city}}</p>
                  <p *ngIf="!(user?.address?.city)">Sin Asignar</p>
              </div>              
          </div>
          <div class="row info-row">
              <label class="custom-label">Código Postal</label>
              <div class="custom-detail">
                  <p *ngIf="user?.address?.postcode">{{user?.address?.postcode}}</p>
                  <p *ngIf="!(user?.address?.postcode)">Sin Asignar</p>
              </div>              
          </div>
          <div class="row info-row">
              <label class="custom-label">Pais</label>
              <div class="custom-detail">
                  <p *ngIf="user?.address?.country">{{user?.address?.country}}</p>
                  <p *ngIf="!(user?.address?.country)">Sin Asignar</p>
              </div>              
          </div>
        </div>
      </div>     
    </div>
      <div *ngIf="edited" style="float: left; width: 100%; padding: 30px;">
          <div class="row">
              <div class="col-md-3">
                <div class="text-center">
                  <app-image-upload #imageUpload *ngIf="isAuthUser()" (image)="updateProfileImage($event)">
                    <img [src]="user?.image_url" (click)="onUploadImage()" class="img-responsive-edit" alt="img">
                  </app-image-upload>
                </div>
              </div>
              <form [formGroup]="basicInfoForm">
                <div class="col-md-9">
                  <div class="row info-row">
                    <label class="custom-label">Nombre y Apellido</label>
                      <div class="custom-detail input-group form-group">
                        <input type="text" formControlName="name" class="form-control" >
                      </div>              
                  </div>
                  <div class="row info-row">
                      <label class="custom-label">Número de Teléfono</label>
                      <div class="custom-detail input-group form-group">
                          <input type="text" formControlName="phone_no" class="form-control" >
                      </div>
                  </div>
                  <div formGroupName="address_attributes">
                    <div class="row info-row">
                        <label class="custom-label">Dirección</label>
                        <div class="custom-detail input-group form-group">
                            <input type="text" formControlName="street_address" class="form-control">
                        </div>              
                    </div>
                    <div class="row info-row">
                        <label class="custom-label">Ciudad</label>
                        <div class="custom-detail input-group form-group">
                            <input type="text" formControlName="city" class="form-control">
                        </div>              
                    </div>
                    <div class="row info-row">
                        <label class="custom-label">Código Postal</label>
                        <div class="custom-detail input-group form-group">
                            <input type="text" formControlName="postcode" class="form-control">
                        </div>              
                    </div>
                    <div class="row info-row">
                        <label class="custom-label">Pais</label>
                        <div class="custom-detail input-group form-group">
                            <select formControlName="country">
                                <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                              </select>
                        </div>              
                    </div>
                  </div>
                </div>
              </form>
            </div>    
      </div>
  </article>
</div>
