<div class="col-md-6 basic_info">
  <article>
    <div class="head-info">
      <h6>información</h6>
      <div class="edit-info">
        <i *ngIf="isAuthUser() && !edited" (click)="editBasicInfo()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <button *ngIf="edited" (click)="saveBasicInfo()" class="save-button">Guardar</button>
      </div>
    </div>
    <div *ngIf="!edited">
      <h2>{{user?.name}}</h2>
      <p>Nombre y Apellido</p>
      <h2>{{user?.phone_no}}</h2>
      <p>Número de Teléfono</p>
      <h3 *ngIf="user?.address?.street_address">{{user?.address?.street_address}}</h3>
      <h3 *ngIf="!(user?.address?.street_address)">No Presente</h3>
      <p>Dirección</p>
      <h3 *ngIf="user?.address?.city">{{user?.address?.city}}</h3>
      <h3 *ngIf="!(user?.address?.city)">No Presente</h3>
      <p>Ciudad</p>
      <h3 *ngIf="user?.address?.postcode">{{user?.address?.postcode}}</h3>
      <h3 *ngIf="!(user?.address?.postcode)">No Presente</h3>
      <p>Código Postal</p>
      <h3 *ngIf="user?.address?.country">{{user?.address?.country}}</h3>
      <h3 *ngIf="!(user?.address?.country)">No Presente</h3>
      <p>Pais</p>
    </div>
    <div *ngIf="edited">
      <form [formGroup]="basicInfoForm">
        <div class="input-group">
          <input type="text" formControlName="name" class="form-control" >
          <p>Nombre y Apellido</p>
        </div>
        <div class="input-group">
          <input type="text" formControlName="phone_no" class="form-control" >
          <p>Número de Teléfono</p>
        </div>
        <div formGroupName="address_attributes">
          <div class="input-group">
            <input type="text" formControlName="street_address" class="form-control">
            <p>Dirección</p>
          </div>
          <div class="input-group">
            <input type="text" formControlName="city" class="form-control">
            <p>Ciudad</p>
          </div>
          <div class="input-group">
            <input type="text" formControlName="postcode" class="form-control">
            <p>Código Postal</p>
          </div>
          <div class="input-group camp_select slate">
            <select formControlName="country">
              <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
            <p>Pais</p>
          </div>
        </div>
      </form>
    </div>

  </article>
</div>
