<div class="campaign_create">
	<h1>Eventos</h1>
	<div class="camp_create_box">
		<h2>Agregar un Evento
			<img src="assets/img/qstion-iconimg.png" alt="img">
			</h2>
			<!--<p>Type of event lorem ipsum</p>-->
			<div class="row">
				<div class="col-xs-12">
					<div class="camp_select2">
						<select>
							<option>Chile</option>
							<option>Alaska</option>
						</select>
					</div>
				</div>
			</div>
			<div class="camp_mrg"></div>
			<h2>Titulo</h2>
			<h3>Tu Nombre y Apellido</h3>
			<h2>País</h2>
			<div class="row">
				<div class="col-xs-12">
					<div class="camp_select2">
						<select>
							<option>Chile</option>
							<option>Alaska</option>
						</select>
					</div>
				</div>
			</div>
			<div class="camp_mrg"></div>
			<h2>Fecha de Evento</h2>
			<div class="camp_date">
				<div class="form-group">
					<div class="col-xs-3">
						<select class="form-control">
							<option>Fecha</option>
							<option>Domingo</option>
						</select>
					</div>
					<div class="col-xs-3">
						<select class="form-control">
							<option>Mes</option>
							<option>Enero</option>
						</select>
					</div>
					<div class="col-xs-3">
						<select class="form-control">
							<option>Año</option>
							<option>2001</option>
						</select>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</div>
			<h2>Subir Imagen del Evento</h2>
			<div class="camp_upload_img">
				<img src="assets/img/camera-img.png" alt="img">
					<h4>Subir Imagen</h4>
				</div>
				<h2>Agregar una Pequeña Descripción</h2>
				<p>¿Cuál es la recompensa de tu campaña?</p>
				<h3>Tu Nombre y Apellido</h3>
				<div class="camp_review_link">
					<a href="#">Volver al Editor</a>
					<a href="#">revisar y lanzar</a>
				</div>
			</div>
		</div>