<!-- Banner About -->
<section id="banner_about" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="position-center-center">
      <div class="text-sec">
        <h1>Te ayudamos a lograr tus sueños</h1>
        <p> </p>
      </div>
    </div>
  </div>
</section>

<!-- Community -->
<section id="community">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pad0">
       <!-- <div class="img-sec"> <img src="assets/img/img9.png" class="img-responsive ceneter-block" alt="image"> </div> -->
        <div class="img-sec"> <img src="assets/img/img23.jpg" class="img-responsive ceneter-block" alt="image"> </div>
      </div>
      <div class="col-md-6 pad0">
        <div class="community_con">
          <div class="position-center-center">
            <h2 class="title">Nuestra Comunidad.</h2>
            <p class="space20">El Laboratorio de Emprendimiento Universitario USQAI  de la Universidad Católica del Norte 
              cuenta con una amplia comunidad y red de jóvenes emprendedores curiosos y con ganas de cambiar el mundo. Jóvenes 
              creativos, activos, empoderados e innovadores que buscan oportunidades y no tienen miedo a dar todo de sí mismos 
              para cumplir sus metas y objetivos. Si eres universitario y estas características te identifican, te invitamos a 
              descubrir y a ser parte de la experiencia USQAI. </p>
            <p class="space20">Crea tu proyecto y hazlo realidad gracias a la financiación colectiva a través de USQAI Crowdfunding.</p>  
          </div>
        </div>
      </div>
    </div>
    
    <!-- Our MISSION -->
    <div class="row">
      <div class="col-md-6 pad0">
        <div class="community_con">
          <div class="position-center-center">
            <h2 class="title">Nuestra MISIÓN</h2>
            <p class="space20">USQAI Crowdfunding de la Universidad Católica del Norte, es una plataforma que promueve e 
              incentiva el desarrollo de emprendimientos innovadores liderado por jóvenes de la región de Antofagasta que 
              busquen solucionar problemas territoriales relacionados con medioambiente, tecnología, ciencia, desarrollo 
              social e industrial y que generen gran impacto en la sociedad y aporten al sistema económico y productivo 
              regional.</p>
            <!--<a href="#" class="discovermore">DISCOVER MORE</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 pad0">
        <!--<div class="img-sec"> <img src="assets/img/img10.png" class="img-responsive center-block" alt="image"> </div> -->
        <div class="img-sec"> <img src="assets/img/img22.jpg" class="img-responsive center-block" alt="image"> </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Team --
<section id="our_team">
  <div class="container">
    <div class="heading-bar text-center">
      <h2 class="title">meet OUR TEAM</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis dolor vel aliquam lobortis. Nulla facilisi. Maecenas hendrerit lacus sit amet molestie interdum.</p>
    </div>
    <div class="row space50">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-1.jpg" class="img-responsive center-block" alt="image">
          <h3>john joe</h3>
          <p>Developer</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-2.jpg" class="img-responsive center-block" alt="image">
          <h3>Kelvin stone</h3>
          <p>CEO</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-3.jpg" class="img-responsive center-block" alt="image">
          <h3>NATHAN GREY</h3>
          <p>Customer care</p>
        </div>
      </div>
    </div>
    <div class="row space50">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-3.jpg" class="img-responsive center-block" alt="image">
          <h3>steven stan</h3>
          <p>CFO</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-2.jpg" class="img-responsive center-block" alt="image">
          <h3>ALFRED WHITE</h3>
          <p>Developer</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-1.jpg" class="img-responsive center-block" alt="image">
          <h3>joe smith</h3>
          <p>Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>
-->