<div class="tab-pane">
    <h2>{{ 'USER_DASHBOARD.MEMBERS' | translate }}</h2>
</div>
  <div class="row" *ngFor="let member of members">
    <div class="horizontal-group">
        <div class="col-sm-4">
            <label name="email"
                   placeholder="E-mail"
                   class="form-control">
                   {{member.email}}
            </label>
        </div>

        <div class="col-sm-2">
            <select #selectElem class="form-control" [(ngModel)]="member.editor" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let priv of Privil" [value]="priv.id">
                    {{priv.data}}
                </option>
            </select>
        </div>

        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary"
                  (click)="save(member)" > {{'PROJ_DETAIL.SAVE' | translate }}</button>
            <button type="button" class="btn btn-default"
                  (click)="removeObject(member)" > {{'PROJ_DETAIL.DELETE' | translate }}</button>
        </div>
    </div>
  </div>
<div #parent title="member" [id]="user.team_id" (changeView)=loadMembers($event)></div>
<div>
  <!-- <button type="button" 
        (click)="addComponent()"
        class="btn btn-default">Add Experience </button> -->
</div>