<form novalidate>
    <div class="row">
        <div class="horizontal-group">
            <div class="col-sm-4">
                <input type="text" name="email"
                       [(ngModel)]= "email"
                       placeholder="E-mail"
                       class="form-control">
            </div>

            <div class="col-sm-2">
                <select #selectElem class="form-control" [(ngModel)]="privilegio" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let priv of Privil" [value]="priv.id">
                        {{priv.data}}
                    </option>
                </select>
            </div>

            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary"
                      (click)="save()" > {{'PROJ_DETAIL.SAVE' | translate }}</button>
                <button type="button" class="btn btn-default"
                      (click)="removeObject()" >{{'PROJ_DETAIL.CLEAN' | translate }}</button>
            </div>
        </div>
    </div>
</form>