<div class="campaign_create">
  <h1>{{ 'PROJ_CREATE.CREATE_CAMPAIGN' | translate }}</h1>
  <div class="camp_create_box">
    <form [formGroup]="projectForm">
      <div class="form-group">
        <div *ngIf="!isEditing">
          <label for="usr">{{ 'PROJ_CREATE.CAMPAIGN_TITLE' | translate }} *</label>
          <input type="text" class="form-control" placeholder="Enter title" formControlName="name">
          <p *ngIf="projectForm.get('name').hasError('required') && (projectForm.get('name').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
        </div>
      </div>
      <h2>Logo</h2>
			<div>
				<span class="image-div" *ngFor="let image_data of projectForm.get('images_data').value; let i = index">
					<span (click)="removeImageData(i)" class="fa fa-times cross"></span>
					<img class="reward-image" [src]="image_data" alt="img">
				</span>
			</div>
      <h2>{{ 'PROJ_CREATE.CAMPAIGN_IMAGES' | translate }}</h2>
			<app-image-upload #imageUpload (click)="uploadImage()" (image)="setImageData($event)">
				<img src="assets/img/camera-img.png" alt="img">
				<h4>{{ 'PROJ_CREATE.UPLOAD_IMAGE' | translate }}</h4>
			</app-image-upload>
      <br>
      <textarea [froalaEditor] formControlName="description"></textarea>
      <br>
			<div *ngIf="!isEditing" style="display:inline-block; min-height:290px;">
        <h2>{{ 'PROJ_CREATE.BEGIN_DATE' | translate }} *</h2>
				<datepicker [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}"></datepicker>
			</div>
      <div *ngIf="isEditing" class="no-edit padding-bottom">
        <h2>{{ 'PROJ_CREATE.BEGIN_DATE' | translate }}</h2>        
        {{project.start_date | date: 'longDate'}}
      </div>
      <div class="camp_link"> <a (click)="submitProject()" class="btnNext">{{ 'PROJ_CREATE.NEXT' | translate }}</a> </div>
    </form>
  </div>
</div>
